body{
    height: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.app{
    margin: 35px;
    background: #333;
    color: #fff;
    padding: 35px;
    border-radius: 20px;
  }
.text-search{
  margin-bottom: 15px;
  margin-top: 10px;
  }
.btn-edit{
  margin-right: 10px; ;
}
.btn-add-contact{
  width: auto;
  margin: 0 auto;
}
#root{
  min-width: 471px;
  max-width: 900px;
    margin: 35px auto;
    background: #333;
    color: #fff;
    padding: 35px;
    border-radius: 20px;
}